<div class="container-show">

  <div class="card card-cocktail">
    <h1><%= @cocktail.name %></h1>
    <%= cl_image_tag( @cocktail.photo.key, width: 400, height: 300, crop: :fill)%>
  </div>

  <div class="card card-description">

    <div class="description">
      <h3>DESCRIPTION :</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligendi id magni esse itaque iure, et fugit voluptatibus distinctio? Nesciunt saepe tempora eligendi natus libero rem. Asperiores, similique! Accusantium, eos sed.</p>
    </div>

    <div class="ingredients">
      <p><% @cocktail.doses.each do |dose| %>
        - Ingredient : <%= dose.ingredient.name %>
        / <%= dose.description %>
        <%= link_to 'delete', dose_path(dose), method: :delete, data: { confirm: 'Are you sure?'} %> <br>
      <% end %></p>
    </div>

    <div class="edit-cocktail">
      <span>
        <%= link_to 'Edit Cocktail', new_cocktail_dose_path(@cocktail) %>
        <%= link_to 'Delete Cocktail', cocktail_path(@cocktail), method: :delete, data: { confirm: 'Are you sure?'} %>
        <%= link_to 'Back', root_path %>
      </span>
    </div>

  </div>
  
</div>

