<%= simple_form_for [ @cocktail, @dose ] do |f| %>
  <h3><%= @cocktail.name %></h3>
  <br>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Submit Description", class: "btn btn-primary" %>
<% end %>

